In [11]:
# Import dependencies
import pandas as pd

In [12]:
# Import the file clean_students_complete.csv
student_data_to_load="Resources/clean_students_complete.csv"
# Create a data frame with the csv file
student_data_df=pd.read_csv(student_data_to_load)
# Show the first rows of the file
student_data_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84

In [13]:
# Import the file schools_complete.csv
school_data_to_load="Resources/schools_complete.csv"
# Create a data frame with the csv file
school_data_df=pd.read_csv(school_data_to_load)
# Show the first rows of the file
student_data_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84

In [14]:
# We will need to merge the 2 data Frames "school_data_df" and "student_data_df"
# Determine if there are any missing values in the school data "school_data_df"
school_data_df.count()

School ID      15
school_name    15
type           15
size           15
budget         15
dtype: int64

In [15]:
# Determine if there are any missing values in the student data "student_data_df"
student_data_df.count()

Student ID       39170
student_name     39170
gender           39170
grade            39170
school_name      39170
reading_score    39170
math_score       39170
dtype: int64

In [16]:
# Merge/Combine the data into a single dataset. New file combine will be named "school_data_complete.df"
school_data_complete_df = pd.merge(student_data_df, school_data_df, on=["school_name", "school_name"])
school_data_complete_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [17]:
# CALCULATION 1 - Calculate the total number of students.
student_count = school_data_complete_df.count()
student_count

Student ID       39170
student_name     39170
gender           39170
grade            39170
school_name      39170
reading_score    39170
math_score       39170
School ID        39170
type             39170
size             39170
budget           39170
dtype: int64

In [63]:
# Get the total number of rows in the "Student ID" column.
student_count=school_data_complete_df["Student ID"].count()
student_count

39170

In [20]:
# Calculate the total number of schools.
school_count = school_data_df["school_name"].count()
school_count

15

In [21]:
# Calculate the total number of schools
school_count_2 = school_data_complete_df["school_name"].unique()
school_count_2

array(['Huang High School', 'Figueroa High School', 'Shelton High School',
       'Hernandez High School', 'Griffin High School',
       'Wilson High School', 'Cabrera High School', 'Bailey High School',
       'Holden High School', 'Pena High School', 'Wright High School',
       'Rodriguez High School', 'Johnson High School', 'Ford High School',
       'Thomas High School'], dtype=object)

In [22]:
# Calculate the size of the array "school_count_2"
school_count_2.size

15

In [25]:
# Or you can determine the size of the unique "school names" by running the following:
len(school_data_complete_df["school_name"].unique())

15

In [26]:
# Calculate the Total Budget for the whole district, i.e., sum the budget column for each of the 39170 students.
# This is incorrect, as we want to sum the budget of the unique 15 schools.
total_budget=school_data_complete_df["budget"].sum()
total_budget

82932329558

In [27]:
# CALCULATION 2 - Calculate the total budget. By summing the budget of each of the 15 schools
total_budget = school_data_df["budget"].sum()
total_budget

24649428

In [28]:
# CALCULATION 3 - Calculate the average reading score.
average_reading_score = school_data_complete_df["reading_score"].mean()
average_reading_score

81.87784018381414

In [29]:
# CALCULATION 4 - Calculate the average math score.
average_math_score = school_data_complete_df["math_score"].mean()
average_math_score

78.98537145774827

In [ ]:
# CALCULATION 5 - Determine the overall passing grade. Given by case as score greater or equal to 70

# CALCULATION 6 - Determine the % of students who passed math and reading
# Use the passing grade given on case Calculation 5
# Get the # of students who passed math in DataFrame
# Get the # of students that passed reading in a DataFrame
# Calculate the % of students that have passed both math and reading in a DataFrame

In [31]:
# CALCULATION 5 - BOOLEANS - Analyze which students passed or not (true or false), create a list/series "passing_math"
passing_math = school_data_complete_df["math_score"] >= 70
passing_math

0         True
1        False
2        False
3        False
4         True
         ...
39165     True
39166     True
39167     True
39168     True
39169     True
Name: math_score, Length: 39170, dtype: bool

In [34]:
# CALCULATION 5 -Get the # students who are passing math in a new DataFrame, show a selection
passing_math = school_data_complete_df[school_data_complete_df["math_score"] >= 70]
passing_math.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635
8,8,Michael Roth,M,10th,Huang High School,95,87,0,District,2917,1910635

In [45]:
# CALCULATION 6 - BOOLEANS -Get the # of students that passed reading in a DataFrame, create a list/series "passing_reading"
passing_reading = school_data_complete_df["reading_score"] >= 70
passing_reading.head()

0    False
1     True
2     True
3    False
4     True
Name: reading_score, dtype: bool

In [61]:
#From Calculation 6 - we can calcculate the number of students that passed math
passing_math_count=passing_math["student_name"].count()
passing_math_count

29370

In [53]:
# CALCULATION 7 -Get the # students who are passing reading in a new DataFrame, show a selection
passing_reading_count = school_data_complete_df[school_data_complete_df["reading_score"] >= 70]
passing_reading.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635

In [60]:
#From Calculation 7 - we can calcculate the number of students that passed reading
passing_reading_count=passing_reading["student_name"].count()
passing_reading_count

33610

In [66]:
# CALCULATION 8 - Calculate the percent that passed math.
passing_math_percentage = passing_math_count / float(student_count) * 100
passing_math_percentage

74.9808526933878

In [67]:
# CALCUALTION 9 - Calculate the percent that passed reading.
passing_reading_percentage = passing_reading_count / float(student_count) * 100
passing_reading_percentage

85.80546336482001

In [68]:
print(passing_math_percentage)
print(passing_reading_percentage)

74.9808526933878
85.80546336482001

In [69]:
# Calculate the students who passed both math and reading.
passing_math_reading = school_data_complete_df[(school_data_complete_df["math_score"] >= 70) & (school_data_complete_df["reading_score"] >= 70)]

passing_math_reading.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635
8,8,Michael Roth,M,10th,Huang High School,95,87,0,District,2917,1910635
9,9,Matthew Greene,M,10th,Huang High School,96,84,0,District,2917,1910635

In [70]:
# Calculate the students who passed both math and reading.
passing_math_reading = school_data_complete_df[(school_data_complete_df["math_score"] >= 70) & (school_data_complete_df["reading_score"] >= 70)]

passing_math_reading.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635
8,8,Michael Roth,M,10th,Huang High School,95,87,0,District,2917,1910635
9,9,Matthew Greene,M,10th,Huang High School,96,84,0,District,2917,1910635

In [75]:
# CALCULATION 9 - Calculate the number of students who passed both math and reading
passing_math_reading.student_name.count()

25528

In [77]:
passing_math_reading["student_name"].count()

25528

In [80]:
#CALCULATION 10 - we calculate the percentage of students who passed both math and reading by dividing the
#  total number of students and multiplying by 100, using the following code.

# Calculate the number of students who passed both math and reading.
overall_passing_math_reading_count = passing_math_reading["student_name"].count()
overall_passing_math_reading_count

# Calculate the overall passing percentage.
overall_passing_percentage = overall_passing_math_reading_count / student_count * 100
overall_passing_percentage

65.17232575950983

In [81]:
# Adding a list of values with keys to create a new DataFrame.
district_summary_df = pd.DataFrame(
          [{"Total Schools": school_count,
          "Total Students": student_count,
          "Total Budget": total_budget,
          "Average Math Score": average_math_score,
          "Average Reading Score": average_reading_score,
          "% Passing Math": passing_math_percentage,
         "% Passing Reading": passing_reading_percentage,
        "% Overall Passing": overall_passing_percentage}])
district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,39170,24649428,78.985371,81.87784,74.980853,85.805463,65.172326